html {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    background-color: #fafafa;  /* off-white */
}

body {
    margin: 0 auto;  /* center page content */
    width: 75%;
    max-width: 700px;  /* constrain content to slim column */
}

header {
    font-size: 1.25em;
}

footer {
    font-size: 0.85em;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #444;
}

/* equations, hash-headings, citation numbers */
div.postcontent {
}

p.postdate {
    font-size: 1.0em;
    font-style: italic;
}

p.posttags {
    font-size: 1.0em;
    font-style: italic;
}

/* format of centered equations rendered by 'katex_center.js' */
div.equation {
    text-align: center;
    font-size: 1.2em;
    color: #444;
}




/* Horizontal rule */
hr {
    border: 0;
    height: 1px;
    background: #444;
    background-image: linear-gradient(to right, #ccc, #444, #ccc);
}

/* Navbar lists (Posts, About), (email, github, twitter) */
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

/* Links */
a {
    text-decoration: none;
    color: #2a7ae2;
}
a:hover {
    text-decoration: underline;
}

/* ?????? */
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}
ul.posts li {
    list-style: none;
}

.subtitle {
    font-size: 1.0em;
    margin-left: 40px;
}

/* These are for different screen sizes */

/* for internet explorer 10 */
@-ms-viewport{ 
    width: device-width;
}

/* Individual custom settings
@media screen and (max-width: 768px) {
    width: 80%;
}

@media screen and (max-width: 320px) {
    widgth: 80%;
}
*/