UnityDecoration {
/* One pixel border */
-UnityDecoration-extents: 2px 2px 2px 2px;

/* No shadows */
-UnityDecoration-shadow-offset-x: 0px;
-UnityDecoration-shadow-offset-y: 0px;
-UnityDecoration-active-shadow-radius: 0px;
}


/* Light blue around active window */
UnityDecoration.top {
background-image: none;
background-color: #90D0FF;
}

UnityDecoration.left {
background-image: none;
background-color: #90D0FF;
}

UnityDecoration.right {
background-image: none;
background-color: #90D0FF;
}

UnityDecoration.bottom {
background-image: none;
background-color: #90D0FF;
}


/* Black around inactive window */
UnityDecoration.top:backdrop {
background-image: none;
background-color: #000000;
}

UnityDecoration.left:backdrop {
background-image: none;
background-color: #000000;
}

UnityDecoration.right:backdrop {
background-image: none;
background-color: #000000;
}

UnityDecoration.bottom:backdrop {
background-image: none;
background-color: #000000;
}

