<!DOCTYPE html>
<html> <!-- Footer holds links to my other sites -->
    <footer>
        <hr> <!-- Horizontal rule -->
        <ul> <!-- Links to my other sites -->
    	      <li><a href="mailto:peterm0273@gmail.com"
                   title="peterm0273@gmail.com">email</a></li>
    	      <li><a href="https://github.com/mattpetersen"
                   title="github.com/mattpetersen">github</a></li>
    	      <li><a href="https://twitter.com/mattpetersen_ai"
                   title="twitter.com/mattpetersen_ai">twitter</a></li>

            <!-- Resume link

            <li><a href="https://www.dropbox.com/s/q4333wkbsx2mnug/Petersen_Matthew_mfp2124_Resume.pdf?dl=0">resume</a></li>

            -->
        </ul>
    </footer>
</html>
