<!DOCTYPE html>
<html>

<!-- This will be imported to every page -->


<head>

<!-- Set page title -->
<title>{{ page.title }}</title>

<!-- Set page meta info -->
<meta name=”description” content=”A blog about deep learning” />
<meta name=”robots” content=”noodp” />

<!-- Set CSS -->
<link rel="stylesheet" type="text/css" href="/css/main.css">

<!-- Print header -->
{% if page.header %}
<div class="header">
    {% include header.html %}
</div>
{% endif %}

</head>


<body>

<!-- Frame page content -->
<div class="container">{{ content }}</div>

<!-- Print footer -->
{% if page.footer %}
<div class="footer">
    {% include footer.html %}
</div>
{% endif %}

</body>


</html>

