<!DOCTYPE html>
<html>  <!-- Format of every page -->

    <head>
        <meta charset="utf-8"> <!-- set character encoding for the document -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <!-- Make the site nice on different screens -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- For web crawlers -->
        <meta name="robots" content="index,follow,noodp">  <!-- follow me -->
        <meta name="rating" content="General">  <!-- check my site age -->
        <meta name="subject" content="Deep learning and neural networks">
        <meta name=”description” content=”A blog about deep learning and neural networks”>
        
        <!-- Page title auto-filled as blog post title -->
        <title>{{ page.title }}</title> 

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <!-- File of site authors -->
        <link rel="author" href="humans.txt">

        <!-- Author details -->
        <link rel="me" href="https://twitter.com/mattpetersen_ai" type="text/html">
        <link rel="me" href="mailto:peterm0273@gmail.com">


    </head>

    <body>
        <!-- Header -->
        {% if page.header %}
            <div class="header">
                {% include header.html %}
            </div>
        {% endif %}

        <!-- Content -->
        <div class="content">
            {{ content }}
        </div>

        <!-- Footer -->
        {% if page.footer %}
            <div class="footer">
                {% include footer.html %}
            </div>
        {% endif %}
    </body>

</html>
