<!DOCTYPE html>
<html>  <!-- Format of every page -->

    <head>
        <meta charset="utf-8"> <!-- set character encoding for the document -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <!-- Make the site nice on different screens -->
        <meta name="viewport" content="width=80%, initial-scale=1, shrink-to-fit=no">
        
        <!-- For web crawlers -->
        <meta name="robots" content="index,follow,noodp">  <!-- follow me -->
        <meta name="rating" content="General">  <!-- check my site age -->
        <meta name="subject" content="Deep learning and neural networks">
        <meta name=”description” content=”A blog about deep learning and neural networks”>
        
        <!-- Page title auto-filled as blog post title -->
        <title>{{ page.title }}</title> 

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <!-- File of site authors -->
        <link rel="author" href="humans.txt">

        <!-- Author details -->
        <link rel="me" href="https://twitter.com/mattpetersen_ai" type="text/html">
        <link rel="me" href="mailto:peterm0273@gmail.com">

        <!-- Icon for our site -->

        <!-- For IE 10 and below -->  
        <!--  No link, just place a file called favicon.ico in the root directory -->

        <!-- For IE 11, Chrome, Firefox, Safari, Opera -->  
        <link rel="icon" href="path/to/favicon-16.png" sizes="16x16" type="image/png">  
        <link rel="icon" href="path/to/favicon-32.png" sizes="32x32" type="image/png">  
        <link rel="icon" href="path/to/favicon-48.png" sizes="48x48" type="image/png">  
        <link rel="icon" href="path/to/favicon-62.png" sizes="62x62" type="image/png"> 
    </head>

    <body>
        <!-- Header -->
        {% if page.header %}
            <div class="header">
                {% include header.html %}
            </div>
        {% endif %}

        <!-- Content -->
        <div class="content">
            {{ content }}
        </div>

        <!-- Footer -->
        {% if page.footer %}
            <div class="footer">
                {% include footer.html %}
            </div>
        {% endif %}
    </body>

</html>
