---
layout: default
---
<!DOCTYPE html>
<html> <!-- Additional formatting for blog post page -->

    <head>
        <!-- jQuery (local) -->
        <script type="text/javascript" src="jquery-3.1.1.min.js"></script>

        <!-- KaTeX (local) -->
        <link rel="stylesheet" type="text/css" href="katex/katex.min.css">
        <script type="text/javascript" src="katex/katex.min.js"></script>
    </head>

    <body>
        <!-- Title -->
        <h1>{{ page.title }}</h1>

        <!-- Date -->
        <p class="postdate">
            Posted on {{ page.date | date: "%B %-d, %Y" }}
        </p>

        <!-- Tags -->
        <p class="posttags">
            {% for tag in page.tags %}
                {{ tag }}
            {% endfor %}
        </p>

        <!-- Horizontal rule -->
        <hr>

        <!-- Content -->
        <div class="postcontent">
            {{ content }}
        </div>

        <!-- Disqus -->
        {% if page.comments %}
        <div class="disqus">
            {% include disqus.html %}
        </div>
        {% endif %}
    </body>

</html>

{% include katex_render.js %}
{% include katex_center.js %}
