---
layout: default
---
    <!-- post.html -->
    <!-- Import KaTeX (local) -->
    <link rel="stylesheet" type="text/css" href="katex/katex.min.css">
    <script type="text/javascript" src="katex/katex.min.js"></script>
    <!-- Import jQuery (local) -->
    <script type="text/javascript" src="jquery-3.1.1.min.js"></script>

    <!-- Post header -->
    <p class="postname">{{ page.title }}</p>
    <p class="postdate">Posted on {{ page.date | date: "%B %-d, %Y" }}</p>
    <p class="posttags">{% for tag in page.tags %}{{ tag }} {% endfor %}</p>
    <hr>

<!-- Post content -->
{{ content }}

{% if page.comments %}
{% include disqus.html %}
{% endif %}

{% include katex_render.js %}
{% include katex_center.js %}
<!-- /post.html -->
